/* цветовая палитра */
$ui-kit-color-white: #fff;
$ui-kit-color-light-gray: #C2C6D3;
$ui-kit-color-blue: #3680EC;
$ui-kit-color-dark-blue: #2576D9;
$ui-kit-color-red: #DA5869;
$ui-kit-color-green: #429C7C;

$ui-kit-color-main-text: #909198;

$ui-kit-color-background: #17191C;
$ui-kit-color-background-hover: #222428;
